
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap');


.nav-header {
    display: flex;
    justify-content: space-around;
    margin-bottom: 100px;
}
.left p {
    font-size: 35px;
    margin-left: 7px;
    font-family: 'Playfair Display', serif;

}
.right {
    margin-top: 40px;
    display: flex;
}
.right p {
    font-size: 22px;
    margin-right: 20px;
    cursor: pointer;
}